* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: "Nunito", "Oxygen", "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  /* color: #8a8fa3; */
  -webkit-font-smoothing: anitialised;
}

html, body {
  height: 100%
}

header {
  background-image: linear-gradient(to right, #2b51ff, #0033a1);
  height: 82px;
}

.image-logo {
  display: inline-block;
  width: 50%;
}

.image-logo > img {
  width: 250px;
  margin-left: 2rem;
  margin-top: -2rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.imagearea > img {
  max-width: 100%;
}

h2 {
  font-size: 36px;
  color: black;
  margin: 0px;
  padding-bottom: 3rem;
}

h3 {
  font-size: 32px;
  padding-bottom: 2.5rem;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 2rem;
  color: #8a8fa3;
  margin: 0px;
}
@media (max-width: 767px) {
  p {
    font-size: 15px;
  }
}

.main-btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0px solid #0033a1;
  padding: 0 40px;
  font-size: 15px;
  line-height: 48px;
  border-radius: 30px 0px 30px 0px;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-box-shadow: 0px 5px 8px 0px #0033a1;
  -moz-box-shadow: 0px 5px 8px 0px #0033a1;
  box-shadow: 0px 5px 8px 0px #0033a1;
  background: linear-gradient(to right, #2b51ff, #0033a1);
  text-transform: uppercase;
}

.content {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 15px;
  margin-top: 10rem;
}

.text-area {
  padding-top: 5rem;
  margin-top: 10rem;
}

.cat-wrap {
  padding: 0;
  position: relative;
  z-index: 1;
}

/* triangle */

.cat-wrap::after {
  content: "\25BC";
  position: absolute;
  top: 4.1rem;
  right: 10rem;
  color: #bbc0d5;
  font-size: 0.7rem;
  pointer-events: none;
}

.caret-wrap::after {
  content: "\25BC";
  position: absolute;
  bottom: 10rem;
  right: 11rem;
  color: #bbc0d5;
  font-size: 0.7rem;
  pointer-events: none;
}

select {
  padding: 0.5rem 2rem 0.5rem 0.75rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 0px 5px 8px 0px #ffffff;
  -moz-box-shadow: 0px 5px 8px 0px #ffffff;
  box-shadow: 0px 5px 4px 3px #e9dfdf;
  color: #aeb4c9;
}
select:focus {
  outline: none;
  border: 0;
  box-shadow: inset 0 0 0 5px #ffc519;
}
.grid-80 {
  width: 60% !important;
}

.one {
  width: 100px;
  position: relative;
  display: inline-block;
}

.circle {
  position: absolute;
  background-color: #bbc0d5;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center !important;
  vertical-align: middle;
}

span > .circle{
  justify-content: center;
  display: flex;
  align-items: center;
}

.form {
  padding-top: 4rem;
}

label {
  padding: 0 1rem;
  display: inline-block;
  margin-left: 3rem;
  font-size: 18px;
}

select {
  margin-left: 4rem;
}

.step-one {
  padding-bottom: 1rem;
}

.step-two {
  padding-top: 1rem;
}

.btn {
  width: inherit;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Login */

.login-area {
  display: inline-block;
  margin-bottom: 2rem;
}

.email {
  float: left;
  position: relative;
}
.email.focus i {
  display: none;
}
.password {
  float: left;
  margin-left: 15px;
  position: relative;
  margin-bottom: 1rem;
}

.password a {
  color: white;
  font-size: 0.65rem;
  font-weight: 400;
  text-decoration: none;
}

.password a:hover {
  text-decoration: underline;
  color: #38d39f;
}

.login-btn {
  float: left;
  margin-top: 0px;
  margin-left: 20px;
}
.email i {
  position: absolute;
  padding: 10px;
  min-width: 30px;
}

.password i {
  position: absolute;
  padding: 10px;
  min-width: 30px;
}

.email input[type="text"] {
  height: 35px;
  width: 170px;
  border: none;
  border-radius: 6px;
}

.email input {
  text-indent: 32px;
}
.email .fa-envelope {
  position: absolute;
  color: #a0a0a1;
  top: 10px;
  left: 10px;
}

.password input[type="password"] {
  height: 35px;
  width: 170px;
  border: none;
  border-radius: 6px;
}

.password input {
  text-indent: 32px;
}
.password .fa-unlock-alt {
  position: absolute;
  color: #a0a0a1;
  top: 10px;
  left: 10px;
}

.login-btn input[type="submit"] {
  margin-top: auto;
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  text-transform: uppercase;
  outline: none;
  border: none;
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 6px;
  color: white;
  height: 35px;
  width: 110px;
  cursor: pointer;
  background-size: 200%;
  transition: 0.5s;
}

.btn:hover {
  background-position: right;
}

.top {
  margin-bottom: 6rem;
  /* height: 50vh; */
}

.image-area img {
  width: 500px;
  height: 500px;
}

.create-account {
  margin: -1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.create-account form {
  text-align: center;
  padding: 20px 20px;
  width: 450px;
  height: 450px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form h2 {
  font-size: 1.2rem;
  color: #a0a0a1;
  font-family: "Nunito", "Oxygen", "Poppins", sans-serif;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  margin: 15px 0 5px 0;
}

.account .first {
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #d5d8d9 !important;
  padding: 10px;
  font-size: 0.6rem;
  color: #a0a0a1 !important;
  width: 50% !important;
  margin: 0.1rem;
}

div .flex {
  display: flex;
  justify-content: space-evenly !important;
}

.account input[type="text"] {
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #d5d8d9 !important;
  padding: 10px;
  font-size: 0.6rem;
  color: #a0a0a1 !important;
  width: 100%;
}
.account input[type="password"] {
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #d5d8d9 !important;
  font-size: 0.6rem;
  color: #a0a0a1 !important;
  width: 100%;
}

.account a {
  text-decoration: none;
  color: #3677bc;
}

.account a:hover {
  text-decoration: underline;
  color: #0033a1;
}

.radio {
  display: flex;
}

.by-clicking {
  font-size: 1.12rem !important;
}

.radio label {
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 15px;
  margin-left: -.5rem;
}

.account input[type="submit"] {
  align-items: center;
  background-image: linear-gradient(to right, #0033a1, #2b51ff, #0033a1);
  text-align: center;
  outline: none;
  border: none;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 5px;
  color: white;
  height: 35px;
  width: 110px;
  cursor: pointer;
  background-size: 200%;
  transition: 0.5s;
}
.submit:hover {
  background-position: right;
}

.account .by-clicking {
  color: #77777a;
  font-size: 0.8rem;
}

footer {
  /* height: 200px; */
  background-image: linear-gradient(to right, #0033a1, #2b51ff, #0033a1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
  margin: -5rem 0rem -5rem 0rem;
}



.discover {
  margin: 40px auto;
}

.discover h3 {
  color: white;
  font-size: 1.5rem;
  font-family: Avenir !important;
  font-weight: 100;
  padding: 20px 20px;
}

.discover p {
  color: white;
  font-size: 14px;
  padding: 0px 20px;
  font-family: Avenir !important;
  font-weight: 100;
}

.box {
  font-family: Avenir !important;
  font-weight: 100;
  font-size: 14px;
  margin: 2.5rem -3rem;
  display: inline-block;
  background-color: white;
  text-align: center;
  padding: 20px 0;
  width: 500px;
  position: relative;
  height: 130px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.circle {
  display: inline-block;
  position: absolute;
  background-color: #d0478c;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  margin-left: -15rem;
}

.text {
  position: absolute;
  display: inline-block;
  margin-left: -9.6rem;
  font-family: Avenir !important;
}

.text >h4 {
  color: black;
  margin-top: 0.6rem;
  margin-left: -1rem;
  font-size: 1rem !important;
}

.text > p {
  color: #a0a0a1;
  font-size: 0.7rem !important;
  padding-top: 0.1rem;
}

.box .circle-small {
  position: absolute;
  display: inline-block;
  background-color: #2ebe59;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 12rem;
  margin-top: 1rem;
}
